<% provide(:title, "Home") %>
<div class="jumbotron">
  <p class="big">Focus</p>
  <p>If you like share fragments of your life on picture this website is just for you!</p>
  <%= link_to "Sign up!", "#", class: "btn btn-lg btn-primary", role: "button" %>
</div>