<% provide(:title, "Home") %>
<div class="jumbotron">
  <p class="big">Focus</p>
  <p>If you like to share fragments of your life on pictures this website is just for you!</p>
  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary", role: "button" %>
</div>