header {
  margin-left: 42px;
  margin-right: 42px;
}

footer {
  text-align: center;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  line-height: 50px;
  margin-top: 50px;
  margin-left: 42px;
  margin-right: 42px;
  
  .navbar-nav {
    width: 100%;
    text-align: center;
    
    li {
      float: none;
      display: inline-block;
    }
    
  }
}

.container {
  margin-top: 25px;
  
  h1, .info, .form-actions, .form-inputs_small, .search {
    text-align: center;
  }
  
  .form-inputs {
	input:not([type='checkbox']) {
      width: 100% ;
      margin-bottom: 15px;
    }
  }
}

.jumbotron {
  text-align: center;
  display: block;
  padding-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
  .big {
    font-size: 50px;
    font-family: Comic Sans MS, Georgia, “Times New Roman”, Times;
  }
}

 .navbar-nav {
    font-size: 15px;
 }

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
  }
}


.search {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
  width: 300px;
  height: 30px;
  position: relative;
    
  input:not([type='submit']) {
    position: absolute;
    float: Left;
    margin-left: 0px;    
  }   
     
   input[type='submit']{
    height: 30px;
    position: absolute;
    right: 0;
    top: 10px;
  } 
}

.navbar-search{
  margin-left: 50px;
  margin-top: 4px;
      
  input:not([type='submit']){
  width: 200px;
  panding: 0px 11px 0px 0px;
  }
}

.post{
  margin-top: 20px;
}

.images{
  margin-top: 30px;
  margin-bootom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.image{
  display:inline-block;
  margin-left: 40px;
  margin-top: 40px;
  
}

.hr{

  hr {
    color: gray;
    background: gray;
    height: 2px;
  }
}

.form-inputs_small{
  input[type="file"]{
    width: 220px;
    margin: 15px auto 15px auto;
  }
  
  input[type="text"]{
    width: 250px;
  }
}

.post{
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.error_explanation{
  text-align: left;
}
  
.pagination{
  margin-bottom: 0px; 
  margin-top: 30px;
}

.delete{
  text-align: center;
  margin-top: 10px;
}
  